* {
    box-sizing: border-box;
    margin: 0;
}
body {
    font-family: "Cabin", "sans-serif";
    color: #FFFFFF
}

/* Navbar owowowowo! */

.nav-container {
    background: #000000;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    height: 72px;
}
.wrapper {
    width: auto;
    margin: 0 auto;
}
nav {
    display: flex;
    align-items: center;
    justify-content: left;
    height: 72px;
}
nav ul {
    display: flexbox;
}
nav .logo {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: #FFFFFF;
    margin: 72px;

}
/* header and bg probs owo */
.header-container {
    background: #000000 url('assets/bg.svg');
    background-repeat: no-repeat;
    background-position: right;
    background-size: auto;
    height: 100vh;
    display: flexbox;
    align-items: center;
}
header {
    display: flexbox;
    align-items: center;
    justify-content: left;
}
header h1 {
    font-weight: 900;
    font-size: 128;
    line-height: 29px;
    color: #FFFFFF;
    
}

